<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row" style="width: 100%;">
      <div class="col-lg-7 col-md-10">
        <div class="goBack text-white h1" style="width: auto;" *ngIf="!this.mine">
          <i class="ni ni-bold-left" placement="right" ngbTooltip="Regresar" (click)="return()"></i>
        </div>
        <h1 class="display-2 text-white">Confirmacion de pago</h1>
        <!-- <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p> -->
        <!-- <button [disabled]="loadingPage" class="btn btn-info text-white" (click)="goToEdit()">{{this.mine?'Editar perfil':'Editar'}}</button> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Informacion</h3>
            </div>
            <!-- <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <p>
            <strong class="text-success">
              Se confirmo la recepcion de tu pago de paypal.
            </strong>
            <br>
            <br>
            Para mas informacion sobre la transaccion por favor revisa tu correo electronico o ingresa a <a href="https://paypal.com">Paypal</a>.
            <br>
            <br>
            Gracias por confiar en nosotros.<br> <br>
            <img src="./assets/img/brand/horizontal.png" class="navbar-brand-img" style="width: 20%;" alt="...">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
