.pickUser{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .ng-select{
        width: 80%;
    }
    button{
        margin-left: 10px;
    }
}

.removeButton{
    cursor: pointer;
}


.ng-select.form-control {
    background-color: transparent;
    border: none;
    height: auto;
    padding: 0;
}
.ng-select.form-control.is-invalid ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border: solid 1px #fb6340;
}