<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row" style="width: 100%;">
      <div class="col-lg-7 col-md-10">
        <p class="text-white mt-0 mb-5">Usuarios en el sistema</p>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <ng-dynamic-table #table [settings]="settings_table"></ng-dynamic-table>
</div>
