<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Reactive su cuenta!</h1>
          <p class="text-lead text-light">
            Reactiva tu cuenta para obtener todos los beneficios de esta
            plataforma de talleres.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5 d-flex justify-content-center" style="flex-direction: column;">
          <button *ngIf="subscriptionId&&(actualStatus==='PAUSE'||actualStatus==='SUSPENDED')" type="button" class="btn btn-primary" (click)="tryToReactivate()">
            Intentar reactivacion
          </button>
          <div *ngIf="subscriptionId&&actualStatus==='CANCELLED'" #paypal_button_container></div>
        </div>
      </div>
    </div>
  </div>
</div>
