<div class="loading" *ngIf="loadingPage">
  <div class="loader">Loading...</div>
</div>
<div class="card-body">
  <form role="form" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="input-name">Nombre</label>
        <input type="text" id="input-name" class="form-control" placeholder="Nombre" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Nombre is required</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="input-lastName">Apellido</label>
        <input type="text" id="input-lastName" class="form-control" placeholder="Apellido" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Apellido is required</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6"  *ngIf="type=='create'">
      <div class="form-group">
        <label class="form-control-label" for="input-username">Username</label>
        <input type="text" id="input-username" class="form-control" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="input-email">Email</label>
        <input type="text" id="input-email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6"  *ngIf="type=='create'">
      <div class="form-group">
        <label class="form-control-label" for="input-password">Contraseña</label>
        <input type="password" id="input-password" class="form-control" placeholder="Contraseña" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6"  *ngIf="type=='create'">
      <div class="form-group">
        <label class="form-control-label" for="input-confirmPassword">Confirmar contraseña</label>
        <input type="password" id="input-confirmPassword" class="form-control" placeholder="Confirmar contraseña" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="input-tel">Telefono</label>
        <input type="tel" id="input-tel" class="form-control" placeholder="Telefono" formControlName="tel" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }">
        <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
          <div *ngIf="f.tel.errors.required">Telefono is required</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="type!='updateMine'">
      <div class="form-group">
        <label class="form-control-label" for="input-roles">Roles</label>
        <ng-select class="form-control" [items]=" roles$ | async" placeholder="Roles" bindLabel="name" bindValue="id" formControlName="roles" [ngClass]="{ 'is-invalid': submitted && f.roles.errors }" [multiple]="true" [closeOnSelect]="false">
        </ng-select>
        <div *ngIf="submitted && f.roles.errors" class="invalid-feedback">
          <div *ngIf="f.roles.errors.required">Roles is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" [disabled]="loading" class="btn btn-primary my-4">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Guardar
    </button>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </div>
</form>
</div>