.pickUser{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .ng-select{
        width: 80%;
    }
    button{
        margin-left: 10px;
    }
}

.removeButton{
    cursor: pointer;
}

.ng-select.form-control {
    background-color: transparent;
    border: none;
    height: auto;
    padding: 0;
}
.ng-select.form-control.is-invalid ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border: solid 1px #fb6340;
}

.groupHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .title{
        margin-right: 10px;
    }
}

.toogle-input{
    // cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    .custom-toggle{
        width: 50px !important;
        margin-bottom: 0;
        margin-right: 5px;
    }
    .text{
        width: 70%;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
    }
}


.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loading{
    position: absolute;
    width: 100%;
    height: 87%;
    z-index: 999;
    background-color: #0000005d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body{
    position: relative;
}