<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row" style="width: 100%;">
      <div class="col-lg-7 col-md-10">
        <h3 class="display-4 text-white">Crear nuevo usuario</h3>
        <button (click)="goToList()" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Informacion</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-users-form [type]="'create'"></app-users-form>
        </div>
      </div>
    </div>
  </div>
</div>
